body{
  background-image: none;
  height: 100%;
 // filter: blur(8px);

}
mat-toolbar#menu{
 // background-image: url("../assets/snow.png");
  background-color: #F9FAFD;
  height: 80px;
  img#logo{
    height: 75px;
  }

}
img#snow{
  width: 100%;
  height: 50px;
  position: relative;
  top: -5px;
}

span{
  padding-right:20px;

}

