mat-card{
  width:60%;
  margin: auto;
  min-height: 20%;
}

img {
  margin: auto;
  width: 20%;
  padding-bottom: 2%;
  display: block;
}

li{
  list-style: none;
}
li::before{
  content: '';
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url('src/assets/santa-head.png');
  background-size:contain;
  background-repeat:no-repeat;
}
