
<<img *ngIf="success" src="https://media.giphy.com/media/bMD6oknoBQm4Al4A0w/giphy.gif">
<mat-card *ngIf="success">


 <p>Great job! The secret society of Santas was successfully created. Check out the list of Secret Santas:</p>
  <ul>
    <li *ngFor="let u of group.userList">{{u.name}}</li>
  </ul>
  <p>The gift exchange will take place on {{this.group.giftExchangeDate}} and the budget was set to {{this.group.budget}}$.</p>
  <p>Each of you will shortly receive the name of a special person and all the details on the gift exchange.</p>

</mat-card>
<mat-card *ngIf="!success">
  <h1>We're sorry</h1>
  <p>There has been an error while trying to generate your secret santas. Please try again later or contact our support team for more details.</p>
</mat-card>
