.cont{
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
}
.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  min-width: 300px;
}
mat-form-field.ne{
  width: 90%;
}
.budgetSlider{
  width:30%;

}
