<div class="cont">
  <mat-vertical-stepper linear="true" #stepper>
    <mat-step [stepControl]="nameFormGroup">
      <form [formGroup]="nameFormGroup">
        <ng-template matStepLabel>Create your group</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="My friends" formControlName="nameCtrl" required/>
        </mat-form-field>
        <div *ngIf="nameFormGroup.controls['nameCtrl'].invalid && (nameFormGroup.controls['nameCtrl'].dirty || nameFormGroup.controls['nameCtrl'].touched)"
             class="alert alert-danger">

          <div *ngIf="nameFormGroup.controls['nameCtrl'].errors.required">
            Name is required.
          </div>
        </div>
        <br>
        <mat-form-field>
          <mat-label>Number of participants</mat-label>
          <input matInput placeholder="3" formControlName="numCtrl" (change)="setNumberOfParticipant()" required/>
        </mat-form-field>
        <div *ngIf="nameFormGroup.controls['numCtrl'].invalid && (nameFormGroup.controls['numCtrl'].dirty || nameFormGroup.controls['numCtrl'].touched)"
             class="alert alert-danger">

          <div *ngIf="nameFormGroup.controls['numCtrl'].errors.required">
            Number is required.
          </div>
          <div *ngIf="nameFormGroup.controls['numCtrl'].errors">
            Number of participants must be a number. The minimum value is 3.
          </div>
        </div>
        <div>
          <button mat-raised-button matStepperNext color="accent">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="participantFormGroup" class="container">
      <form [formGroup]="participantFormGroup" class="row">
        <ng-template matStepLabel>Add participants</ng-template>

        <div formArrayName="nameArray" class="names col-6">
          <mat-form-field class="ne" *ngFor="let name of names.controls; let i=index">
            <mat-label>Name</mat-label>
            <input matInput [formControlName]="i" placeholder="John Doe"
                   required>
          </mat-form-field>
        </div>
        <div formArrayName="emailArray" class="emails col-6">
          <mat-form-field  class="ne" *ngFor="let email of emails.controls; let i=index">
            <mat-label>Email</mat-label>
            <input matInput [formControlName]="i" placeholder="john_doe@email.com"
                   required>
          </mat-form-field>
        </div>


        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext color="accent">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="detailsFormGroup">
      <form [formGroup]="detailsFormGroup">
        <ng-template matStepLabel>Add the details</ng-template>
        <mat-form-field>
          <mat-label>Choose a date for the gift exchange</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br>
        <mat-form-field>
          <mat-label>Set the budget</mat-label>
          <input matInput [(ngModel)]="budget" formControlName="budget">
        </mat-form-field>
        <br>
        <mat-slider class="budgetSlider" max="1000" min="1" step="1" thumbLabel="true" [(ngModel)]="budget" formControlName="budget">
        </mat-slider>


        <div>
          <button mat-raised-button matStepperNext color="accent">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You have now configured your group. Press the button below to generate the gifter-giftee pairs.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="this.createGroup()">Send</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
