<div class="container d-flex justify-content-center">
  <div class="santa-cont">
  <img src="../../assets/santa-tesxt.png" id="santa">
  <mat-card class="desc">
    <p>
      <b>Secret Santa</b> is a Western Christmas tradition in which members of a group or community are randomly assigned a person to whom they give a gift. The identity of the gift giver is to remain a secret and should not be revealed.
    </p>
    <p>
      You can use this app to generate combinations of gift givers and giftees while keeping everything a secret. You just have to provide the names and we will take care of everything else.
    </p>

  </mat-card>
  </div>
</div>
