

.container{
  width: auto;
  //display: block;
  margin: auto;

  .santa-cont{
    height: 580px;
    width: 620px;
    margin: auto;
    position: relative;
  }

  img#santa{
    //width:60%;
    height: 580px;
    display: block;
    margin: auto;
    position: relative;

  }
  .desc{
    width:80%;
    display: block;
    //margin-left: 19%;
    position: absolute;
    top: 320px;
    left: 50px;


  }
}
